# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Eclipse / IntelliJ
*.iml
.idea/
.vscode/

# Logs
*.log

# OS
.DS_Store
Thumbs.dbgit

# Spring Boot
spring-boot-*.jar
